@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}
body{
    max-height: 100vh;
}
.whole{
    display: flex;
}
p{
    font-size: 1.2rem;
}

.mainbar{
    position: relative;
}
.sidebar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    border-radius: 10px;
    padding: 70px 0 0 50px;
    margin: 15px 12% 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.side-class{
    display: flex;
    align-content: center;
}
.side-number{
    border: 2px solid;
    border-radius: 50%;
    width: 35px;
    height: 30px;
    text-align: center;
    padding: 5px;
    padding-top: 13px;
    color: #fff;
    margin-right: 20px;
}
.side-number:hover{
    color: hsl(213, 96%, 18%);
    border-color: hsl(206, 94%, 87%);
    background-color: hsl(206, 94%, 87%);
}
.content-slim{
    color: hsl(231, 11%, 63%);
    font-size: 1.2rem;
    font-weight: 400;
}
.content-bold{
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 2px;
}
.mainbar{
    width: 50%;
}
.personal-info{
    position: absolute;
    padding-top: 60px;
}
h1{
    font-size: 3.5rem;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.section-description p{
    font-size: 2rem;
    color: hsl(231, 11%, 63%);
    margin-bottom: 70px;
}
.label-error{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
label{
    font-size: 1.5rem;
    color: hsl(213, 96%, 18%);
}
small{
    font-size: 1.5rem;
    color: red;
}
.input-form {
    width: 98%;
    height: 70px;
    border: 2px solid;
    border-radius: 7px;
    border-color: hsl(229, 24%, 87%);
    color: hsl(213, 96%, 18%);
    padding-left: 20px;
    margin: 10px 0 30px 0;
    font-size: 1.5rem;
}
.input-form :focus {
    border-color: hsl(243, 100%, 62%);
}
form{
    position: relative;
    height: 650px;
}
.personal-next-step{
    position: absolute;
    font-size: 1.5rem;
    padding: 20px 30px 20px 30px;
    border: none;
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: hsl(217, 100%, 97%);
    right: 0;
    bottom: 0;
}
.hide{
    visibility: hidden;
}

.plan-selection{
    position: absolute;
    padding-top: 40px;
}
.section-description h2{
    font-size: 3.5rem;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.plan-category{
    display: flex;
    justify-content: space-around;
}
.plan{
    width: 18%;
    padding: 50px 30px 30px 30px;
    border: 2px solid;
    border-color: hsl(229, 24%, 87%);
    border-radius: 10px;
}
.plan img{
    height: 70px;
    margin-bottom: 70px;
}
.plan p {
    font-size: 1.7rem;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}
.plan small{
    color: hsl(231, 11%, 63%);
}
.month-year-slider{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
    margin-bottom: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hsl(206, 94%, 87%);
    border-radius: 10px;
}
.month-year-slider p{
    font-weight: 500;
    color: hsl(213, 96%, 18%);
}
.back-forward{
    display: flex;
    justify-content: space-between;
}
.back-forward button{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 30px 20px 30px;
    border: none;
}
.go-back{
    background-color: #fff;
    color: hsl(213, 96%, 18%);
}
.go-next{
    border-radius: 10px;
    background-color: hsl(213, 96%, 18%);
    color: #fff;
}
.add-ons{
    height: 100vh;
    padding-top: 80px;
}
.second-third{
    display: flex;
    height: 67vh;
    flex-direction: column;
    justify-content: space-between;
}
.add-on-option{
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 25px;
    margin-bottom: 25px;
}
.add-on-option input {
    display: inline-block;
    height: 30px;
    width: 25px;
    border-radius: 10px;
    margin-right: 20px;
}
.add-on-content{
    width: 270px;
}
.add-on-content h5{
    margin-bottom: 5px;
    color: hsl(213, 96%, 18%);
}
.add-on-content p{
    color: hsl(231, 11%, 63%);
}
.add-on-pricing{
    margin-left: 57%;
    color: blueviolet;
}